name: Deploy Application

on:
  push:
    branches:
      - master  # Verify your branch is 'master' and not 'main'

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    # This sets the base directory for all 'run' commands
    defaults:
      run:
        working-directory: elias-website-app

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install Dependencies
        run: npm install

      - name: Build Application
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Path points specifically to the build folder inside your sub-directory
          publish_dir: ./elias-website-app/build 
          cname: www.eliasmeana.com
          keep_files: true