body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  margin: 40px auto;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;
}

.sidebar {
  background-color: #2C3E50;
  color: white;
  padding: 20px;
  width: 250px;
  flex-shrink: 0;
}

.sidebar h1 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.sidebar p {
  margin: 10px 0;
  color: #ecf0f1;
}

.sidebar a {
  color: #ecdbff;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}

.content {
  padding: 20px;
  flex-grow: 1;
  hyphens: auto;
}

h2 {
  color: #2C3E50;
  border-bottom: 2px solid #ecf0f1;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 1.4em;
}

p {
  margin: 10px 0;
  line-height: 1.6;
}

.skills-list,
.languages-list {
  display: flex;
  flex-wrap: wrap;
}

.skills-list ul,
.languages-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 50%;
}

ul li {
  margin-bottom: 5px;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Media Queries for Responsiveness */

/* Adjust for smaller screen sizes (up to 768px) */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    /* Stack the sidebar and content vertically */
    padding: 0;
    /* Remove padding to avoid unnecessary spacing */
    margin: 0;
    /* Remove margin to ensure content spans the entire width */
  }

  .sidebar {
    width: 100%;
    /* Sidebar takes full width on small screens */
    margin-bottom: 0;
    /* Remove the space between sidebar and content */
  }

  .content {
    width: 100%;
    /* Content takes full width */
  }

  .skills-list ul,
  .languages-list ul {
    width: 100%;
    /* Make the lists take full width on smaller screens */
  }

  h2 {
    font-size: 1.2em;
    /* Adjust heading font size for smaller screens */
  }
}

/* Further adjustments for very small screens (up to 480px) */
@media (max-width: 480px) {
  .sidebar {
    padding: 10px;
    /* Reduce padding in sidebar for very small screens */
  }

  h1 {
    font-size: 1.5em;
    /* Adjust heading font size */
  }

  p {
    font-size: 14px;
    /* Adjust text size for smaller devices */
  }
}

.home {
  text-align: center;
  padding: 40px;
}

.home h1 {
  font-size: 2em;
  color: #2C3E50;
  margin-bottom: 20px;
}

.home p {
  font-size: 1.2em;
  color: #7f8c8d;
  margin-bottom: 30px;
}

.home-links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.home-button {
  text-decoration: none;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
}

.home-button:hover {
  background-color: #2980b9;
}