.music-player {
    padding: 20px;
    margin: auto;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .track-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .waveform {
    width: 100%;
    height: 100px;
    background: #6f4848;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .progress-bar-container {
    margin: 20px 0;
  }
  
  .progress-bar {
    width: 100%;
    height: 5px;
    -webkit-appearance: none;
    appearance: none;
    background: #ddd;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: #f00;
    border-radius: 50%;
    cursor: pointer;
    border: none;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    position: relative;
  }
  
  .control-button {
    background: none;
    color: #6f4848;
    border: none;
    z-index: 10;
    font-size: 1.5em;
    cursor: pointer;
    position: relative;
  }
  
  .control-button:hover {
    color: #f00;
  }
  
  .track-list {
    margin-top: 20px;
    list-style: none;
    padding: 0;
  }
  
  .track-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
  }
  
  .track-item:hover {
    background-color: #f5f5f5;
  }
  
  .active-track {
    background-color: #ddd;
    font-weight: bold;
  }
  