/* NoSidebarLayout.css */

.container {
  max-width: 1300px;
  margin: 32px auto;
  padding: 20px;
}

.content {
  width: 100%;
  hyphens: auto;
}

@media (max-width: 768px) {
  .container {
    padding: 12px;
    margin: 16px auto;
  }
}
